{% extends 'menu/layout.html' %}
{% load static %}

{% block menu_content %}
<script src="{% static 'script/alpinejs/priceFormater.js' %}"></script>
{% include 'shared/components/breadcrumbs.html' with breadcrumbs=breadcrumbs %}

<div class="w-full mx-auto my-8">
    <div class="bg-gray-50 shadow overflow-hidden rounded-lg">
        <div class="p-6">
            <form method="post">
                {% csrf_token %}
                <div class="space-y-6 mb-5">
                    <!-- Name Field -->
                    {% include 'menu/components/input.html' with label="Name" field="name" placeholder="Menu item name" value=name %}
                    
                    <!-- Price Field -->
                    {% include 'menu/components/input.html' with label="Price (Rp)" field="price" placeholder="Rp 0" value=price%}
                    
                    <!-- Description Field -->
                    {% include 'shared/components/textarea.html' with label="Description" field="description" placeholder="Describe your menu item" value=description description_input="Brief description of the menu item."%}
                    
                    <!-- Category Field -->
                    {% include 'shared/components/select.html' with label="Category" id="category" name="category" default_option="Select menu category" options=categories input_value=category%}
                </div>
                <div>
                    <div class="flex justify-end space-x-3">
                        <a href="{% url 'list-menu' %}" class="button-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="button-primary">
                            {% if menu_id %}Update Menu Item{% else %}Create Menu Item{% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <div>
      {% include 'shared/components/messages.html' %}
    </div>
</div>
{% endblock %}