{% extends "base.html" %}
{% load static %}

{% block content %}
{{ form_data|json_script:"form-data" }}
<script src="{% static 'script/alpinejs/transactionForm.js' %}"></script>
<script>
    const formData = JSON.parse(document.getElementById('form-data').textContent) || {};

    // Create menuItemsData object from Django template
    const menuItemsData = {
      {% for item in menu_items %}
        "{{ item.id }}": {
          id: "{{ item.id }}",
          name: "{{ item.name }}",
          price: {{ item.price }},
          formatted_price: "{{ item.formatted_price }}"
        },
      {% endfor %}
    };
</script>

<div class="max-w-2xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="bg-white shadow overflow-hidden rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="text-2xl font-semibold text-gray-900">Create Transaction</h1>
      <p class="mt-1 text-sm text-gray-500">Add items to your transaction and complete the payment.</p>
    </div>
    
    <div class="px-4 py-5 sm:p-6">
      <!-- Error messages -->
      {% include 'menu/components/messages.html' %}
      
      
      <form method="post" x-data="transactionForm(menuItemsData, formData)">
        {% csrf_token %}
        
        <!-- Warning Message -->
        {% include 'transactions/components/message/warning.html'%}
        
        <div class="space-y-6">
          <!-- Date  -->
          {% include 'transactions/components/input.html' with label="Date" field="date" value=date type="datetime-local" %}

          <!-- Customer Name & Phone  -->
          {% include 'transactions/components/input.html' with label="Customer Name" field="customer_name" value=customer_name placeholder="Input customer name" %}
          {% include 'transactions/components/input.html' with label="Customer phone" field="customer_phone" value=customer_phone placeholder="Input customer phone number" %}

          <!-- Menu Items Selection -->
          {% include 'transactions/components/select-items.html' with options=menu_items%}

          <!-- Selected Items -->
          <div id="selected-items" x-show="items.length > 0" class="my-2 hidden">
            <h3 class="text-lg font-medium text-gray-900 mb-3">Selected Items</h3>
            {% include 'transactions/components/table.html' with items=items%}
          </div>
        
          <!-- Empty State -->
          {% include 'transactions/components/empty-state.html'%}

          <!-- Payment Method -->
          {% include 'menu/components/select.html' with label="Payment Method" id="payment_method" name="payment_method" default_option="Select payment method" options=payment_methods input_value=payment_method%}
        </div>

        <div class="mt-8 flex justify-end space-x-3">
          <button type="button" class="button-secondary">
            Cancel
          </button>
          <button type="submit" class="button-primary">
            Submit Transaction
          </button>
        </div>
        
      </form>
      
    </div>
  </div>
</div>
{% endblock %}