<div class="bg-gray-50 rounded-lg overflow-hidden border border-gray-200">
    <!-- Table Header -->
    <div class="grid grid-cols-13 gap-x-4 py-3 px-4 bg-gray-100 text-sm font-medium text-gray-700">
    <div class="col-span-5">Item</div>
    <div class="col-span-2 text-right">Price</div>
    <div class="col-span-2 text-center">Quantity</div>
    <div class="col-span-3 text-right">Subtotal</div>
    <div class="col-span-1"></div>
    </div>
    
    <!-- Table Body -->
    <div class="divide-y divide-gray-200">
    <template x-for="(item, index) in items" :key="index">
        <div class="grid grid-cols-13 gap-x-4 py-3 px-4 text-sm">
        <input type="hidden" :name="`id_${index}`" :value="item.id">
        <input type="hidden" :name="`name_${index}`" :value="item.name">
        <input type="hidden" :name="`price_${index}`" :value="item.price">
        <input type="hidden" :name="`quantity_${index}`" :value="item.qty">
        
        <div class="col-span-5 font-medium text-gray-900" x-text="item.name"></div>
        <div class="col-span-2 text-gray-500 text-right text-nowrap" x-text="formatCurrency(item.price)"></div>
        <div class="col-span-2 text-gray-500 text-center">
            <div class="flex items-center justify-center">
            <button 
                type="button" 
                @click="decrementQty(index)" 
                class="text-gray-500 hover:text-indigo-600 focus:outline-none">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
            </button>
            <span class="mx-2" x-text="item.qty"></span>
            <button 
                type="button" 
                @click="incrementQty(index)" 
                class="text-gray-500 hover:text-indigo-600 focus:outline-none">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
            </button>
            </div>
        </div>
        <div class="col-span-3 font-medium text-gray-900 text-right text-nowrap" x-text="formatCurrency(item.price * item.qty)"></div>
        <div class="col-span-1 text-right">
            <button 
            type="button" 
            @click="removeItem(index)" 
            class="text-indigo-600 hover:text-indigo-900 focus:outline-none">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
            </button>
        </div>
        </div>
    </template>
    </div>
    
  <!-- Total -->
  <div class="py-3 px-4 bg-gray-50 border-t border-gray-200">
    <div class="flex justify-end">
      <div class="text-base font-medium text-gray-900">Total:</div>
      <div class="text-base font-medium text-gray-900 ml-4" x-text="formatCurrency(calculateTotal())"></div>
    </div>
  </div>
</div>