<div {% if field == "price" %} x-data="priceFormatter()" x-init="init()" {% endif %}>
    <label for="{{ field }}" class="block text-sm font-medium text-gray-700">{{ label }}</label>
    <div class="mt-1">
        <input 
            type="{{type|default:'text'}}" 
            id="{{ field }}" 
            name="{{ field }}" 
            class="bg-white shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-2"
            placeholder="{{placeholder|default:''}}" 
            {% if field == "date" and now %}
                value="{{now}}"
            {% else %}
                value="{{value|default:''}}"
            {% endif %}
            {% if is_required|default:False %}required{% endif %}
            {% if field == "customer_phone" %}
            @keypress="phoneNumberValidation"
            @input="phoneNumberValidation"
            {% endif %}>
    </div>
</div>