{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'script/priceFormater.js' %}"></script>
<div class="max-w-2xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="bg-white shadow overflow-hidden rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h1 class="text-2xl font-semibold text-gray-900">Create Menu</h1>
            <p class="mt-1 text-sm text-gray-500">Add a new menu item to your collection.</p>
        </div>
        <div class="px-4 py-5 sm:p-6">
            {% include 'menu/components/messages.html' %}

            <form method="post">
                {% csrf_token %}
                
                <div class="space-y-6">
                    <!-- Name Field -->
                    {% include 'menu/components/input.html' with label="Name" field="name" placeholder="Menu item name" value=name %}
                    
                    <!-- Price Field -->
                    {% include 'menu/components/input.html' with label="Price (Rp)" field="price" placeholder="Rp 0" value=price%}
                    
                    <!-- Description Field -->
                    {% include 'menu/components/textarea.html' with label="Description" field="description" placeholder="Describe your menu item" value=description description_input="Brief description of the menu item."%}
                    
                    <!-- Category Field -->
                    {% include 'menu/components/select.html' with label="Category" id="category" name="category" default_option="Select menu category" options=categories input_value=category%}
                </div>
                <div class="pt-5">
                    <div class="flex justify-end space-x-3">
                        <button type="button" class="button-secondary">
                            Cancel
                        </button>
                        <button type="submit" class="button-primary">
                            Create Menu Item
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}