{% extends 'menu/layout.html' %}
{% block menu_content %}
<div class="flex w-full items-center justify-between">
    <h1 class="text-2xl font-lusitana text-gray-900">Menus</h1>
</div>
<div id="menu-filter" class="flex items-center justify-between gap-2 mt-8">
    <div class="relative flex flex-1 flex-shrink-0">
        <form method="get" class="flex items-center gap-2 w-full">
            <div class="flex-1">
                <label for="id_category" class="sr-only">Filter by category</label>
                <select name="category" id="id_category" class="peer block w-full rounded-md border border-gray-500 py-[9px] px-3 text-sm">
                    <option value="">All Categories</option>
                    {% for key, value in categories %}
                    <option value="{{ key }}" {% if request.GET.category == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button-secondary h-10">
                <span>Filter</span>
            </button>
            {% if request.GET.category %}
            <a href="{% url 'list-menu' %}" class="button-danger h-10">
                <span>Clear</span>
            </a>
            {% endif %}
        </form>
    </div>
</div>
<div class="mt-4 w-full">
    <a
    href="{% url 'create-menu' %}"
    class="button-primary h-10"
    >
    <span class="block">Create Menu</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
    </svg>
    </a>
</div>
<div class="px-3 py-2 bg-gray-50 rounded-lg mt-4">
    {% include "menu/components/menu-list.html" with menu_items=menu_items %}
    {% if not menu_items %}
    <div class="p-2 bg-gray-50 rounded-lg mt-6">
        {% include "menu/components/empty-state.html" %}
    </div>
    {% endif %}
</div>

{% if is_paginated %}
{% include "shared/components/pagination.html" with page_obj=page_obj %}
{% endif %}

<div class="mt-6">
    {% include "shared/components/messages.html" %}
</div>
{% endblock %}